
<div class="main" id="main">
  <div class="main-header four-column-grid-expand-two">
    <div></div>
    <div class="arrows-container">
      <div class="arrows">
        <img
          src="assets/img/left-arrow.png"
          alt=""
          onclick="history.back()"
        />
      </div>
      <div class="arrows">
        <img src="assets/img/next.png" alt="" onclick="history.go(-1)" />
      </div>
    </div>
    
    <div class="empty"></div>
    <div class="account dropdown">
      <div class="account-img">
        <img src="assets/img/me.png" alt="" />
      </div>
      <div id="username-acc" class="account-name">
      </div>
      <i class="fa-solid fa-sort-down"></i>
      <div class="dropdown-content">
        <a href="#">Account</a>
        <a href="#" class="logout">Logout</a>
      </div>
    </div>
  </div>

  <div class="main-card playlist-cards">
    <div class="main-card-header">
      <h1>Good Afternoon</h1>
    </div>
    <ul class="playlist-card-container">
      <li class="playlist-card playlist-1">
        
        <a href="#favorite">
          <section
            class="playlist-item"
            onmouseenter="random_bg_color()"
          >
            <div class="playlist-card-image">
              <img src="assets/img/mgk2.jpg" alt="mgk" />
              <div class="play-button-overlay-playlist">
                <img
                  class="playlist-button-overlay"
                  src="assets/img/play-button.png"
                  alt=""
                />
              </div>
            </div>
            <span class="playlist-card-title">Liked Songs</span>
          </section>
        </a>
      </li>
      <li class="playlist-card playlist-1">
        <a href="#favorite">

        <section
          class="playlist-item"
          onmouseenter="random_bg_color()"
        >
          <div class="playlist-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay-playlist">
              <img
                class="playlist-button-overlay"
                src="assets/img/play-button.png"
                alt=""
              />
            </div>
          </div>
          <span class="playlist-card-title">Liked Songs</span>
        </section>
        </a>
      </li>
      <li class="playlist-card playlist-1">
        <a href="#favorite">

        <section
          class="playlist-item"
          onmouseenter="random_bg_color()"
        >
          <div class="playlist-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay-playlist">
              <img
                class="playlist-button-overlay"
                src="assets/img/play-button.png"
                alt=""
              />
            </div>
          </div>
          <span class="playlist-card-title">Liked Songs</span>
        </section>
        </a>

      </li>
      <li class="playlist-card playlist-1">
        <a href="#favorite">

        <section
          class="playlist-item"
          onmouseenter="random_bg_color()"
        >
          <div class="playlist-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay-playlist">
              <img
                class="playlist-button-overlay"
                src="assets/img/play-button.png"
                alt=""
              />
            </div>
          </div>
          <span class="playlist-card-title">Liked Songs</span>
        </section>
        </a>

      </li>
      <li class="playlist-card playlist-1">
        <a href="#favorite">

        <section
          class="playlist-item"
          onmouseenter="random_bg_color()"
        >
          <div class="playlist-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay-playlist">
              <img
                class="playlist-button-overlay"
                src="assets/img/play-button.png"
                alt=""
              />
            </div>
          </div>
          <span class="playlist-card-title">Liked Songs</span>
        </section>
        </a>
      </li>
      <li class="playlist-card playlist-1">
        <a href="#favorite">
        <section
          class="playlist-item"
          onmouseenter="random_bg_color()"
        >
          <div class="playlist-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay-playlist">
              <img
                class="playlist-button-overlay"
                src="assets/img/play-button.png"
                alt=""
              />
            </div>
          </div>
          <span class="playlist-card-title">Liked Songs</span>
        </section>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-card">
    <div class="main-card-header">
      <h1>Made For You</h1>
    </div>
    <ul id="test" class="small-cards-container">
      <li class="small-card small-card-1">
        
        <a href="#favorite">
          <section
            class="card-item"
          >
            <div class="small-card-image">
              <img src="assets/img/mgk2.jpg" alt="mgk" />
              <div class="play-button-overlay">
                <img src="assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">Papercut</span>
            <span class="small-card-details">Machine Gun Kelly</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        
        <a href="#favorite">
        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/frank.jpg" alt="frank ocean" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Nights</span>
          <span class="small-card-details">Frank Ocean</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/crystal.jpg" alt="KEROSENE" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">KEROSENE</span>
          <span class="small-card-details">Crystal Castles</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/mitski.jpg" alt="mitski" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Washing Machine Heart</span>
          <span class="small-card-details">Mitski</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/impala.jpg" alt="implata" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Let It Happen</span>
          <span class="small-card-details">Tame Impala</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/q.jpg" alt="" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Take Me Where Your Heart Is</span>
          <span class="small-card-details">Q</span>
        </section>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-card main-card-2">
    <div class="main-card-header">
      <h1>Popular Songs / Artists</h1>
    </div>
    <ul id="test" class="small-cards-container">
      <a href="#favorite">

      <section class="card-item">
        <li class="small-card small-card-1">
          <div class="small-card-image">
            <img src="assets/img/mgk2.jpg" alt="mgk" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Machine Gul Kelly</span>
          <span class="small-card-details">Artist</span>
        </li>
      </section>
      </a>
      <li class="small-card small-card-2">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/tom.jpeg" alt="Tom York" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Tom York</span>
          <span class="small-card-details">Artist</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-3">
        <a href="#favorite">
        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/mgk.png" alt="Mix daily" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Mix daily</span>
          <span class="small-card-details">Song</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-4">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/crystal2.png" alt="crystal castles" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Crystal Castles</span>
          <span class="small-card-details">Artist</span>
        </section>
        </a>
      </li>
      <li class="small-card small-card-5">
        <a href="#favorite">

        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/gorillaz.jpg" alt="gorillaz" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Gorillaz</span>
          <span class="small-card-details">Artist</span>
        </section>
        </a>

      </li>
      <li class="small-card small-card-6">
        <a href="#favorite">
        <section class="card-item">
          <div class="small-card-image">
            <img src="assets/img/poorstacy.jpg" alt="poorstacy" />
            <div class="play-button-overlay">
              <img src="assets/img/play-button.png" alt="" />
            </div>
          </div>
          <span class="small-card-title">Poorstacy</span>
          <span class="small-card-details">Artist</span>
        </section>
        </a>
      </li>
    </ul>
  </div>
</div>