<div class="main" id="main">
  <div class="main-header four-column-grid-expand-two">
    <div></div>
    <div class="arrows-container">
      <div class="arrows">
        <img
          src="../assets/img/left-arrow.png"
          alt=""
          onclick="history.back()"
        />
      </div>
      <div class="arrows">
        <img src="../assets/img/next.png" alt="" onclick="history.go(-1)" />
      </div>
    </div>

    <div class="empty"></div>
    <div class="account dropdown">
      <div class="account-img">
        <img src="../assets/img/me.png" alt="" />
      </div>
      <div id="username-acc" class="account-name"></div>
      <i class="fa-solid fa-sort-down"></i>
      <div class="dropdown-content">
        <a href="#">account</a>
        <a href="#" class="logout">logout</a>
      </div>
    </div>
  </div>

  <div class="main-card playlist-cards">
    <div class="main-card-header">
      <h1>good afternoon</h1>
    </div>
  </div>

  <div class="main-card">
    <ul id="test" class="small-cards-container">
      <a href="#favorite" class="fav-box">
        <div id="liked-box" class="box1">
          
        </div>
      </a>

      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/mgk2.jpg" alt="mgk" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">papercut</span>
            <span class="small-card-details">machine gun kelly</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/frank.jpg" alt="frank ocean" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">nights</span>
            <span class="small-card-details">frank ocean</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/crystal.jpg" alt="kerosene" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">kerosene</span>
            <span class="small-card-details">crystal castles</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/mitski.jpg" alt="mitski" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">washing machine heart</span>
            <span class="small-card-details">mitski</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/impala.jpg" alt="implata" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">let it happen</span>
            <span class="small-card-details">tame impala</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/q.jpg" alt="" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">take me where your heart is</span>
            <span class="small-card-details">q</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/q.jpg" alt="" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">take me where your heart is</span>
            <span class="small-card-details">q</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/q.jpg" alt="" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">take me where your heart is</span>
            <span class="small-card-details">q</span>
          </section>
        </a>
      </li>
      <li class="small-card small-card-1">
        <a href="#favorite">
          <section class="card-item">
            <div class="small-card-image">
              <img src="../assets/img/q.jpg" alt="" />
              <div class="play-button-overlay">
                <img src="../assets/img/play-button.png" alt="" />
              </div>
            </div>
            <span class="small-card-title">take me where your heart is</span>
            <span class="small-card-details">q</span>
          </section>
        </a>
      </li>
    </ul>
  </div>
</div>
