    <div id="main" class="main">
      <div class="main-header four-column-grid-expand-two">
        <div></div>
        <div class="arrows-container">
          <div class="arrows">
            <img
              src="../assets/img/left-arrow.png"
              alt=""
              onclick="history.back()"
            />
          </div>
          <div class="arrows">
            <img
              src="../assets/img/next.png"
              alt=""
              onclick="history.go(-1)"
            />
          </div>
        </div>
        <div class="empty"></div>
    
        <div class="account dropdown">
          <div class="account-img">
            <img src="../assets/img/me.png" alt="" />
          </div>
          <div id="username-acc" class="account-name">
          </div>
          <i class="fa-solid fa-sort-down"></i>
          <div class="dropdown-content">
            <a href="#">Account</a>
            <a href="#" class="logout">Logout</a>
          </div>
        </div>
      </div>
    
      <div class="intro">
        <div class="intro-img">
          <img id="playlist-img" src="../assets//img/crystal.jpg" alt="" />
        </div>
        <div class="title-description">
          <div class="playlist font-sm-white">
            <span>Playlist</span>
          </div>
          <div class="liked font-md-white">
            <span id="playlist-name" >Liked Songs</span>
          </div>
          <div class="number-songs font-sm-white">
            <span id="song-count">5 songs</span>
          </div>
        </div>
      </div>

      <div class="playlist-buttons">
        <div class="just-button"><img src="../assets/img/play-button.png" alt=""></div>
        <button class="playlist-favorite" onclick="addToFavoritePlaylist()"><i class="fa-solid fa-heart middle-heart"></i></button>
      </div>
    
      <div class="songs font-sm-white">
        <table id="empty-table" class="main-table sortable" onclick="rowHandler(true)">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Album</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <br/>
          <tbody id="body-table" class="font-table">
        <tr>
        </tr>
            

          </tbody>
        </table>
      </div>
  </div>
  
  
  